.formContainer{
    max-width: 400px;
    background-color: #6E6E6E;
    border-radius: 1.7rem;
    padding: 1rem;
    box-shadow: black 0px 0px 10px;

    margin: 2rem 0;
}

.formContainer fieldset{
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.formContainer fieldset legend{
    color: white;
}
h1{
    color: white;
    padding-bottom: 1.5rem;
    margin: 0;
}
label{
    color: white;
}
.bmiForm{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.bmiInput{
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.7rem;
    border-width: 1px;
}
.bmiBtn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    font-weight: normal;
    border-radius: 0.7rem;
}
input {
    font-family: "Ubuntu Medium";
    font-size: 1.5rem;
}

input[type=data]{
    margin: 1rem 0;
}