body {
    margin: 0;

    display: flex;
    flex-direction: column;

    font-family: Ubuntu, serif;
    background-color: rgba(190, 212, 255, 1);

    min-height: 100vh;
}
a{
    text-decoration: none;
}
.App{
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.Container{
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.Exercises{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
}

.Tips{
    margin: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 75vh;
    flex-wrap: wrap;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: white;
}