.footerWrapper{
    background-color: #314154;
    padding: 2rem;

    display: flex;
    justify-content: space-evenly;
}
.footerLogo{
    width: 9%;
    margin: 0 1rem;
}
.footerText{
    color:white; ;
}