.MetricaWrapper{
    background-color: #6E6E6E;
    border-radius: 1.7rem;
    padding: 3rem;
    box-shadow: black 0px 0px 10px;

    color: white;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
}
.InputBody{
    display: flex;
    flex-direction: row;
}
.Header{

}
.MainDetails{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.Dates{
    display: flex;
    flex-direction: column;
}
.GenderAndActivity{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.SecondaryDetails label{
}

.Activity{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-right: 1rem;
}
.Gender{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.SubmitBtn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    font-weight: normal;
    border-radius: 0.7rem;
}
.Input{
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.7rem;
    border-width: 1px;
}
.MainDetails input{
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.7rem;
    border-width: 1px;
}







/* The container */
.Container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.Container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 25%;

    box-shadow: inset black 0px 0px 2px 1px;;
}

/* On mouse-over, add a grey background color */
.Container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Container input:checked ~ .checkmark {
    background-color: #000000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.Container input:checked ~ .checkmark:after {
    display: block;
}
.Container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 25%;
    background: white;
}
.GenderAndActivity label{
    margin-bottom: 0.8rem;
}

.MainDetails input{
    border-style: none;
    box-shadow: inset black 0px 0px 3px 1px;
    outline: none;
    font-family: "Ubuntu Medium";
}

.Dates input{
    border-style: none;
    box-shadow: inset black 0px 0px 3px 1px;
    outline: none;
    font-family: "Ubuntu Medium";
}

.Container{
    font-weight: lighter;
}